<h2>Greetings once again, oh valiant <%= @current_line.author %>.</h2>
  <p>
    Your fellow xQuisite Corpseers out there in the wide world have finally congregated in such number and fashion as to produce the following outstanding collaborative work of art:<br><br>
    <%= @first_line.text %><br>
    <% @first_line.later_lines.map do |later_line|%>
    <%= later_line.text %><br>
    <% end %><br>
    The first line of this creation was evoked from the mystery of the ether, but the remaining lines were forged by the following xQuisite Corpseers respectively:<br><br>
    <% @first_line.later_lines.map do |later_line|%>
    <%= later_line.author %><br>
    <% end %><br>
    If you're in an astute frame of mind today, <%= @current_line.author %>, you'll no doubt spot your name in this illustrious list of contributors, as well as your own proffered line of poetry: "<%= @current_line.text %>". What do you think, does it fit the overall flow of the xQuisite Corpse? If not, then please do feel free to navigate back to xQuisite Corpsing for another try, where you can also find all the xQuisite Corpses thus far submitted lurking somewhere in the bottom left of the screen.
  </p>
<h2>May the rest of your day be no less superlative than the rest of your life, <%= @current_line.author %> - that is it, should you deserve so.</h2>
